/* 하단영역 */
footer#contact{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}
footer#contact h2{
    font-size: 40px;
    font-weight: bold;
    text-transform: full-width;
}
footer#contact ul.email{
    font-size: 20px;
    text-align: center;
}