@media screen and (max-width:768px){
/*  common  */
  .wrap{
  padding: 0 20px;
  }
/*  header  */
  header{
    position: absolute;
  }
  header nav h1{
    font-size: calc(100px * 0.5);
  }
  header nav ul{
    display: none;
  }
/*  title  */
  .title .wrap{    
    padding: 0;
    height: 70vh;
  }
  .title .wrap h1{    
    font-size: calc(100px * 0.5);
    padding: 0 calc(100px * 0.2);
  }
/*  about  */
  #about .wrap ul li:nth-child(4) p{    
    word-break: keep-all;
  }
/*  skill  */
  #skill .wrap ul{    
    display: block;
    margin: 20px 0;
  }
/*  portfolio  */
  #portfolio .wrap figure{
    flex-direction: column;
    padding: 40px 10px;
  }
  #portfolio .wrap figure img{
    
  }
  #portfolio .wrap figure p{
    margin: 20px 0;
  }
/*  footer  */
  footer .wrap p{
    padding: 0 20px;
  }
}